<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="main1.css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                ['25 ve altı', 1],
                ['25 - 35 yaş', 1],
                ['35 - 45 yaş', 1],
                ['45 - 50 yaş', 1],
                ['+50 yaş', 2]
            ]);

            // Set chart options
            var options = {'title':'Yaş Grafigi',
                'width':400,
                'height':300,};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
    <title>Hello, world!</title>
</head>
<body>



<div id="app">

    <section class="our-webcoderskull padding-lg">
        <div class="container">
            <div class="row heading heading-icon">
                <h2>Datassist Api Demo</h2>
                <div class="filter">
                    <div class="form-group col-md-5">
                        <label style="color: #3F51B5;" for="exampleInputEmail1">Filtrele</label>
                        <input type="text"  v-model="search"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="isime göre">
                    </div>
                </div>
            </div>
            <ul class="row">
                <li  v-for="user in sonuc "   class="col-12 col-md-6 col-lg-3">
                    <div class="cnt-block equal-hight">
                        <figure><img  :src="user.employeePhoto" class="img-responsive" alt=""></figure>
                        <h3>{{user.firstName}} {{user.lastName}}</h3>
                        <div class="items">
                        <p> <span class="title-item"> Meslek : </span> {{user.profession}}</p>
                        <p> <span class="title-item"> Vatandaşlık :</span> {{user.citizenship}}</p>
                        <p> <span class="title-item">İş veren :</span>{{user.employer}}</p>
                        <p> <span class="title-item"> Yaş :</span>{{user.age}}</p>
                        <p> <span class="title-item">Cinsiyet : </span><i v-if="user.gender === 'Kadın'" class="fas fa-female"></i>  <i v-if="user.gender === 'Erkek'"  class="fas fa-male"></i></p>
                        <p>  <span class="title-item">İş veren :</span>Çocuk sayısı :{{user.childCount}}</p>
                        <p><span class="title-item"> Medeni hali :</span>{{user.maritalStatus}} <img v-if="user.maritalStatus === 'Evli'"  class="maritalstatus" src="https://img.icons8.com/color/48/000000/lgbt-women.png">
                            <img v-if="user.maritalStatus === 'Bekar'"  class="maritalstatus" src="https://cdn4.iconfinder.com/data/icons/basic-app/1000/BASICAPP_1-14-512.png">
                        </p>
                        <p><span class="title-item"> Maaş :</span>{{user.salary}} {{user.salaryCurrency}}</p>
                        <p><span class="title-item"> Ücret :</span>{{user.salaryPeriod}}</p>
                        <p> <span class="title-item">Emeklilik :</span>
                            <img v-if="user.retired === true"  class="maritalstatus" src="https://static.thenounproject.com/png/971109-200.png">
                            <img v-if="user.retired === false"  class="maritalstatus" src="https://cdn4.iconfinder.com/data/icons/basic-app/1000/BASICAPP_1-14-512.png">
                        </p>
                        <p><span class="title-item"> Kiralama Tarihi : </span>{{user.hireDate}}</p>
                        <p><span class="title-item"> İşe Başlama Tarihi : </span>{{user.employmentStartDate}}</p>
                        <p> <span class="title-item">İşe çıkış Tarihi :</span> {{user.employmentTerminationDate}}
                          <span v-if="user.employmentTerminationDate ===null"> Aktif Çalışıyor </span >
                        </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="chart text-center">
        <div class="container">
            <div id="chart_div"></div>
        </div>
    </section>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data(){
            return{
                search:'',
                postList:[
                    {
                    age: 25,
                    childCount: 0,
                    citizenship: "Amerikan",
                    employeePhoto: "https://vignette.wikia.nocookie.net/marveldatabase/images/f/f1/Amazing_Spider-Man_Vol_3_1_Granov_Variant_Textless.jpg/revision/latest?cb=20140316144029",
                    employer: "Daily Bugle",
                    employmentStartDate: "01-01-2019",
                    employmentTerminationDate: null,
                    firstName: "Peter",
                    gender: "Erkek",
                    hireDate: "01-01-2019",
                    lastName: "Parker",
                    maritalStatus: "Bekar",
                    profession: "Fotografçı",
                    retired: false,
                    salary: 2000,
                    salaryCurrency: "Dolar",
                    salaryPeriod: "Aylık"
                },
                    {
                        age: 29,
                        childCount: 0,
                        citizenship: "Menzoberranzanlı",
                        employeePhoto: "https://vignette.wikia.nocookie.net/forgottenrealms/images/a/a6/Drizzt-5e.png/revision/latest?cb=20171222032833",
                        employer: "Do'Urden House",
                        employmentStartDate: "01-01-2010",
                        employmentTerminationDate: "01-01-2016",
                        firstName: "Drizzt",
                        gender: "Erkek",
                        hireDate: "01-01-2010",
                        lastName: "Do'Urden",
                        maritalStatus: "Bekar",
                        profession: "Avcı",
                        retired: false,
                        salary: 1000,
                        salaryCurrency: "Dolar",
                        salaryPeriod: "Saatlik"
                    },
                    {
                        age: 52,
                        childCount: 2,
                        citizenship: "Gothamlı",
                        employeePhoto: "https://vignette.wikia.nocookie.net/batman/images/7/72/Detective_Comics_Vol_2-19_Cover-1_Teaser.jpg/revision/latest?cb=20130116215324",
                        employer: "Wayne Enterprises",
                        employmentStartDate: "01-01-2010",
                        employmentTerminationDate: "01-01-2018",
                        firstName: "Bruce",
                        gender: "Erkek",
                        hireDate: "01-01-2010",
                        lastName: "Wayne",
                        maritalStatus: "Bekar",
                        profession: "Şirket Sahibi",
                        retired: true,
                        salary: 200000,
                        salaryCurrency: "Dolar",
                        salaryPeriod: "Günlük"
                    },
                    {
                        age: 33,
                        childCount: 2,
                        citizenship: "Kattegatlı",
                        employeePhoto: "https://vignette.wikia.nocookie.net/vikingstv/images/e/ed/Lagertha_5x19.jpg/revision/latest/scale-to-width-down/310?cb=20190131044613",
                        employer: "House of Lothbrok",
                        employmentStartDate: "01-01-2006",
                        employmentTerminationDate: null,
                        firstName: "Lagertha",
                        gender: "Kadın",
                        hireDate: "01-01-2006",
                        lastName: "Lothbrok",
                        maritalStatus: "Evli",
                        profession: "Çiftçi",
                        retired: false,
                        salary: 1800,
                        salaryCurrency: "Dolar",
                        salaryPeriod: "Aylık"
                    }

                ],
            }
        },
        methods: {
            yasBul: function () {

            },




        },
        computed: {
            sonuc() {
                return this.postList.filter(post => {
                    return post.firstName.toLowerCase().includes(this.search.toLowerCase())
                })
            }
        },
        created: function () {




            /*
            fetch("https://datassist-demo-rest-api.herokuapp.com/employees",{
                method: 'GET',
                mode: 'cors',
                headers: new Headers({
                    "Content-Type": "application/json",
                    'Access-Control-Allow-Origin':'*'
                })
            } )
                .then(r => r.json())
                .then(json => {
                    this.sonuc=json;
                });
*/



        },


    })
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>